@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

.login-container {
  display: flex;
  flex: 1;
  min-height: 80vh;
}

.login-left,
.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.login-left {
  flex-direction: column;
  background-color: #f0f0f0;
}

.login-left h2{
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight:700px;
  font-style: bold;
}

.login-left p{
   font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.login-form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  padding: 12px;
  font-size: 1rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #888888;
}

.login-right img {
  width: 350px;
  height: auto;
  max-width: 100%;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin: 0;
}

.success-message {
  color: green;
  font-size: 0.9rem;
  margin: 0;
}
